
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
width: 1156px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

/* ------------------------------------Header ----------------------------*/ 

.header-class {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-nav {
display: flex;
align-items: center;
}

.ul-nav-header {
display: flex;
gap: 40px;

}

.ul-contacts-header {
    display: flex;
    gap: 40px;
}


.part-black {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;

margin-right: 76px;
}

.nav-header {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;

}

.nav-header:hover,
.nav-header:focus {
    color: #404bbf;
}

.address-style {
    font-style:normal;
    
}

 .contacts {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }

.contacts:hover,
.contacts:focus {
    color: #404bbf;
}


/* ------------------------------------/Header ---------------------------------*/


/* -------------------------------------main ---------------------------------------*/
/* ---------------------------------title section----------------------------------- */

.title-section-container {
padding-left: 330px;
padding-right: 330px;
padding-top: 188px;
padding-bottom: 292px;
}

.first-section {
    background-color: #2e2f42;
}
.title-effective-solution {
font-family: "Roboto", sans-serif;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #fff;

max-width: 496px;
margin-bottom: 48px;
}

.button-order { 
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background: #4d5ae5;

border-radius: 4px;
border: none;
min-width: 169px;
height: 56px;
padding-left: 32px;
padding-right: 32px;
padding-top: 16px;
padding-bottom: 16px;
display: block;
margin: auto;
}

.button-order:hover,
.button-order:focus {
    background: #404bbf;
}

/* ---------------------------------/title section----------------------------------- */

/* ----------------------------------Our Benefits------------------------------------*/

.container-our-benefits {

}

.ul-our-benefits {
display: flex;
margin-left: 0;
margin-right: 0;
}

.li-our-benefits {

}

.title-our-benefits {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}

.text-our-benefits {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ----------------------------------/Our Benefits------------------------------------*/

/* ----------------------------------Our Team------------------------------------*/
.our-team {
    background-color: #F4F4FD;
}

.backcolor-photo {
    background-color: #FFFFFF;
}

.text-our-team {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.name-our-team {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.proffesion {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ----------------------------------/Our Team------------------------------------*/

/* ----------------------------------Our Portfolio------------------------------------*/
.title-our-portfolio {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.name-app {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.about-app {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ----------------------------------/Our Portfolio------------------------------------*/

/* ---------------------------------- Footer ------------------------------------*/
.footer {
    background-color: #2e2f42;
}

.part-white{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd
}
.text-footer {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/* ---------------------------------- /Footer ------------------------------------*/